/* GRID Container */
main {
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  font-family: sans-serif;
  grid-template-columns: 1fr 1fr 1fr; /* ✔️✔️ Distribucion equitativa ✔️✔️ */
  grid-template-rows: 1fr 2fr 1fr;
}

main > * {
  align-items: center;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
}

/* Punto de ruptura #1
width < 500px */
@media (max-width: 500px){
  main {
    /* 2 columnas */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}

/* Punto de ruptura #1
width < 300px */
@media (max-width: 300px){
  main {
    /* 1 sola columna */
    grid-template-columns: 1fr;
    /* 9 filas para los 9 elementos */
    grid-template-rows: repeat(9, 1fr);
  }
}