/* GRID Container */
main {
  height: 100vh;
  display: grid;
  grid-gap: 10px 30px;

  /* Explicit GRID */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
  /* Implicit GRID */
  /* ⚠️⚠️⚠️ Pero, esto produce que se re-distribuya nuevamente el espacio disponible ⚠️⚠️⚠️ */
  grid-auto-rows: 1fr;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  color: white;
}
